@import "tailwindcss";


@theme {
  --color-background: #061524;
  --color-sidebar: #041321;
  --color-surface: #0c2034;
  --color-surface-light: #102841;
  --color-border: #203a52;

  --color-accent: #c6ff1a;
  --color-accent-cyan: #31d7f4;

  --color-foreground: #f5f7fa;
  --color-muted: #91a6c3;
}